body {
    background: radial-gradient(circle, rgb(0, 255, 234) 0%, rgb(71, 71, 71) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

button{
    font-size: 25px;
    background-color: #474747;
    color: white;
    border: none;
    cursor: pointer;
}

.clear {
    background-color: #ff5269;
}

.clear:hover {
    background-color: #fd7788;
}

.equal {
    background-color: white;
    color: #212121;
}

.equal:hover {
    background-color: #d6d6d6;
}

button:hover {
    background-color: #aaaaaa;
    transition: all 0.1s 0s ease-in-out;
}

.buttonsop button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttonsnum button{
    border-radius: 10px;
}

.calculator {
    margin: auto;
    background-color: #212121;
    width: 285px;
    height: 580px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 30px;
}

.buttons, .buttonsop, .buttonsnum {
    gap:16px;
}

 .buttonsnum {
    display: grid;
    grid-template: repeat(4, 80px) / repeat(3, 50px);
}

.buttonsop {
    display: grid;
    grid-template: repeat(4, 1fr);
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    row-gap: 13.7px;
}

.buttons {
    flex: 1;
    margin: 10px 20px 20px 20px;
/*     background-color: black;
    border: 2px solid rgb(173, 173, 173); */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

.display {
    font-size: 55px;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 94, 94);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 250px;
    height: 170px;
    text-align: end;
    overflow: hidden;
}

.displaydown, .displayup {
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;
}

.displaydown{
    position: relative;
    bottom: -15px;
    right: 5px;
    font-size: 65px;
}

.displayup{
    position: relative;
    bottom: 0px;
    right: 5px;
    font-size: 40px;
}
